node_modules
venv
__pycache__
downloads
.DS_Store

# User data (should not be in repo)
profiles.json
stats.json

# Pyinstaller & packaging build caches
build/bailandosolo-server/
dist/
release/
*.spec
